* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .hide {
  display: none;
} */

body {
  height: 100vh;
}

.location {
}

/*
header {
  color: white;
  font-size: 2rem;
}

.container {
  background: white;
  border: 1px solid black;
  padding: 28px 28px;
  border-radius: 18px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 

.geolocation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#geolocation-button {
  border: none;
  font-size: 24px;
}

.search-box {
  display: flex;
  gap: 1rem;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
} */
