@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

html {
  font-family: "Righteous", Arial, sans-serif;
}

body {
  height: 100vh;
}

/* Paneles */

.accessible {
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 32px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
}

.section-accessible {
  position: absolute;
  margin-top: 2rem;
  padding-right: 1rem;
  /* Cambiar padding a 4 rem en mediaquery */
  width: 100vw;
  display: flex;
  justify-content: end;
  gap: 0.75rem;
}

.skip {
  font-size: 24px;
}

.geolocation-again {
  font-size: 24px;
  /* margin-left: 70vw; */
}

.panel {
  height: 100vh;
  width: 100vw;
}

.location {
  background-image: url(img/gotas-ventana.jpg);
  background-size: cover;
  font-size: 20px;
  display: grid;
  place-content: center;
  padding-bottom: 15rem;
}

.error {
  /* background-image: url(img/locationnotfound.png);
  background-size: contain;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20rem; /* mediaquerie a partir de 400px de alto con 1rem para responsive */
  gap: 1rem;
}

.img-error {
  width: 23rem;
}

.button-error {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  box-shadow: 10px 5px 5px rgb(70, 70, 70);
}

.main {
  display: grid;
  place-content: center;
}

/* Gif en función de weather */

.default {
  background-image: url(img/gotas-ventana.jpg);
  background-size: cover;
  font-size: 20px;
}

.rainy {
  background-image: url(img/rainyday.gif);
  background-size: cover;
}

.clearly {
  background-image: url(img/Calor.jpg);
  background-size: cover;
}

.main.clouds {
  background-image: url(img/clouds.png);
  background-size: cover;
}

/* Weather-box */

ul {
  list-style: none;
}

.weather-box {
  font-size: 1.4rem;
  list-style-type: none;
  padding-top: 0.5rem;
  display: grid;
  place-content: center;
}

.weather-data {
  padding-bottom: 1rem;
  display: flex;
}

h2 {
  text-align: center;
  margin-top: 6rem;
  color: rgb(0, 0, 0);
  padding: 0 2rem;
}

main > section > h2 {
  padding-bottom: 2rem;
}

figure {
  display: flex;
  justify-content: center;
}

img.geolocation-button {
  margin-top: 3rem;
  width: 5rem;
  border: solid black;
  border-radius: 25%;
}

li {
  padding: 0.5rem;
  text-align: center;
}

.city {
  font-size: 50px;
  padding-top: 1rem;
}

.temperature {
  font-size: 50px;
  padding-bottom: 1rem;
}

.weather-forecast {
  font-size: 1rem;
}

/* Animaciones */

#form {
  margin: 0 auto;
}

.weather-forecast {
  display: grid;
  place-content: center;
}

::selection {
  color: #fff;
  background: #2a2a2c;
}

.search-box {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 280px;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
  opacity: 1;
}

.search-box input::placeholder {
  color: #a6a6a6;
}

.search-box .search-button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #000000;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-button.active {
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #29292b;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-icon.active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
  color: #000000;
}

.hide {
  display: none;
}
